/*table {
	margin-top:30px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:nth-child(odd){background-color: #D8D8D8;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0086b3;
    color: white;
}*/

.rt-th{
    background-color: rgba(0,134,179);
}

.rt-tr-group{
    background-color: rgba(242,242,242,0.7);
}

.rt-tr-group:nth-child(even){
    background-color: #D0D0D0;
}

.changeRoleButton{
	float:right;
}

button.-btn{
    background-color: #b3d9ff !important;
}

.pagination-bottom{
    background-color: rgba(0,134,179);
}