
.left{
    color:#0086b3;
    font-weight:bold; 
}

.document{
    width:200px;
}

.download{
    margin-left: -30px;
    color:#0086b3!important;
    width:300px;
}

.rt-th{
    background-color: rgba(0,134,179);
}

.rt-tr-group{
    background-color: rgba(242,242,242,0.7);
}

.rt-tr-group:nth-child(even){
    background-color: #D0D0D0;
}

.changeRoleButton{
	float:right;
    width:190px;
    background-color: #0086b3;
    color:#ffffff;
}

button.-btn{
    background-color: #b3d9ff !important;
}

.pagination-bottom{
    background-color: rgba(0,134,179);
}

span.-pageInfo{
    color:black !important;
}

span.-totalPages{
    color:black !important;
}