<div>
 <div class="header"></div>
 <div className="leftMenu">

  <div className="App">
    <header className="App-header">
      <img src={fii} className="App-logo" alt="logo" />
    </header>
    <p className="App-intro">
    </p>
  </div>
  <HashRouter>
   <div>
     <div>
      <ul>
       <li class="var_nav"><NavLink exact to="/">
        <div class="link_bg"></div>
        <div class="link_title">
          <div class="icon"> 
            <i class="icon-mobile-phone icon-2x"></i>
          </div>
          <a href="#"><span>About Us</span></a>
        </div>
      </NavLink>
    </li>
    <li class="var_nav"><NavLink to="/stuff">
      <div class="link_bg"></div>
      <div class="link_title">
        <div class="icon"> 
          <i class="icon-lightbulb icon-2x"></i>
        </div>
        <a href="#"><span>Ideas</span></a>
      </div>
    </NavLink>
  </li>
  <li class="var_nav"><NavLink to="/contact">
    <div class="link_bg"></div>
    <div class="link_title">
      <div class="icon"> 
        <i class="icon-wrench icon-2x"></i>
      </div>
      <a href="#"><span>Services</span></a>
    </div>
  </NavLink>
</li>
<li class="var_nav">
  <div class="link_bg"></div>
  <div class="link_title">
    <div class="icon"> 
      <i class="icon-briefcase icon-2x"></i>
    </div>
    <a href="#"><span>Marketing</span></a>
  </div>
</li>
</ul>
</div>
</div>
<div>

  <div className="content">
    <Route exact path="/" component={Home}/>
    <Route path="/stuff" component={Stuff}/>
    <Route path="/contact" component={Contact}/>
  </div>
</div>
</div>
</HashRouter>
</div>